<footer id="footer">
    <div class="footer-inner">
        <div class="footer-col align-center-left">
            <div class="footer-col-inner">
                <div class="btn btn-link">
                    <a href="#" class="scroll-to-top" data-hover="Back to top">
                        Back to top
                    </a>
                </div>
            </div>
        </div>

        <div class="footer-col align-center order-m-last">
            <div class="footer-col-inner">
                <div class="copyright">
                    © <span id="copyright-range" data-start="2014">2014</span>
                    <a
                        href="https://matthewboyles.dev"
                        class="link"
                        rel="noopener"
                        target="_blank"
                    >
                        Matthew Boyles – Hollidaysburg PA
                    </a>
                </div>
            </div>
        </div>

        <div class="footer-col align-center-right">
            <div class="footer-col-inner">
                <div class="footer-social">
                    <div class="footer-social-text">
                        <span>Follow</span>
                        <i class="fas fa-share-alt"></i>
                    </div>

                    <div class="social-buttons">
                        <ul>
                            <li>
                                <a
                                    href="https://www.linkedin.com/company/matthewboylesmedia/"
                                    class="magnetic-item"
                                    rel="noopener"
                                    target="_blank"
                                >
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </li>

                            <li>
                                <a
                                    href="https://instagram.com/matthew.b.media?igshid=YmMyMTA2M2Y="
                                    class="magnetic-item"
                                    rel="noopener"
                                    target="_blank"
                                >
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>

                            <li>
                                <a
                                    href="https://www.youtube.com/channel/UCx4hHIHJ5Bi9yuay4hebMHQ"
                                    class="magnetic-item"
                                    rel="noopener"
                                    target="_blank"
                                >
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </li>

                            <li>
                                <a
                                    href="https://github.com/embeeML"
                                    class="magnetic-item"
                                    rel="noopener"
                                    target="_blank"
                                >
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>