<header class="header-fixed" id="header">
    <div class="header-inner">
        <div class="header-col">
            <div class="logo">
                <a href="/">
                    <img
                        src="/assets/img/logo/navnamelite2.png"
                        class="magnetic-item logo-light"
                        alt="Matthew Boyles Media Web Design logo"
                    />
                    <img
                        src="/assets/img/logo/navnamedark.png"
                        class="magnetic-item logo-dark"
                        alt="Matthew Boyles Media Web Design logo"
                    />
                </a>
            </div>
        </div>

        <div class="header-col">
            <div id="ol-menu-toggle-btn-wrap">
                <div class="ol-menu-toggle-btn-text">
                    <span class="text-menu" data-hover="Open">Menu</span>
                    <span class="text-close">Close</span>
                </div>

                <div class="ol-menu-toggle-btn-holder">
                    <a href="#" class="magnetic-item ol-menu-toggle-btn">
                        <span></span>
                    </a>
                </div>
            </div>

            <nav class="overlay-menu">
                <div class="ol-menu-holder">
                    <div class="wrap ol-menu-inner">
                        <div class="ol-menu-content">
                            <ul class="ol-menu-list">
                                <li><a href="/">Home</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/portfolio">Portfolio</a></li>
                                <li><a href="/services">Services</a></li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="bg-noise"></div>
            </nav>
        </div>
    </div>
</header>