# -----------------------------------
# System / OS
# -----------------------------------
.DS_Store
Thumbs.db

# -----------------------------------
# Environment / Secrets
# -----------------------------------
.env
.env.*
!.env.example

# -----------------------------------
# Laravel / Statamic
# -----------------------------------
/vendor
/node_modules
/public/build
/public/hot
/public/static
/public/storage
/public/vendor/statamic

/storage/*.key
/storage/pail

# -----------------------------------
# IDE / Editor
# -----------------------------------
.vscode
.idea
.fleet
.zed

# -----------------------------------
# Logs / Cache
# -----------------------------------
*.log
.phpunit.result.cache
.phpunit.cache
.phpactor.json

# -----------------------------------
# Local dev / VM
# -----------------------------------
Homestead.json
Homestead.yaml

# -----------------------------------
# Asset Control
# -----------------------------------

# Ignore raw / large design assets
public/assets/raw/
public/assets/source/
public/assets/originals/


# public/assets/img/background/

# Allow optimized assets only
!public/assets/img/
!public/assets/css/
!public/assets/js/

# -----------------------------------
# Optional: prevent accidental large files
# -----------------------------------
*.psd
*.ai
*.sketch
*.fig
*.zip
*.tar
*.gz